<header class="w3-container w3-white w3-center" style="padding:128px 16px">
  <h1 class="w3-margin">BACK RECOMMENDATIONS (MANUAL)</h1>
  <h2 class="w3-margin">Using the power of AI in generating Wealth</h2>
  <p class="w3-xlarge">Created by AP<sup>2</sup> Technologies</p>
  	<form class="w3-container">

		<div class="w3-row-padding">
		  <div class="w3-half">
		    <label>Ticker Symbol</label>
		    <input class="w3-input w3-border" type="text" placeholder="INFY" name='Ticker'>
		  </div>
		  <div class="w3-half">
		    <label>Date of Recommendation</label>
		    <input class="w3-input w3-border" type="Date" name='Date'>
		  </div>
		</div>

		<button class="w3-btn w3-blue">Get Recommendation</button>
 
	</form>
</header>